header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 120px;
    background-color: orangered;
    box-shadow: 0 0 10px black;

    a{
        font-family: $train-font;
        font-size: 72px;
        text-decoration: none;
        color: black;

        &:hover{
            color: black;
        }
    }
}